<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Accueil</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}a-propos/">À propos</a></li>
    <li class="nav-meetups" role="menuitem"><a href="{{site.baseurl}}tag/meetups/">Meetups</a></li>
    <li class="nav-en" role="menuitem"><a href="https://tezosmtl.com{% if page.permalink_en %}{{ page.permalink_en }}{% endif %}">English</a></li>
</ul>
