<form action="https://buttondown.email/api/emails/embed-subscribe/tezosmtl" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/tezosmtl', 'popupwindow')" class="embeddable-buttondown-form">
  <input type="hidden" value="1" name="embed">
  <div class="form-group">
    <input class="subscribe-email" type="email" name="email" id="bd-email" placeholder="votreemail@example.com">
  </div>
  <button type="submit"><span>S'abonner</span></button>
</form>
